body {
    background-color: #ededed;
    background-image: url("http://img2.niutuku.com/desk/130126/42/42-niutuku.com-443.jpg");
    background-position: 50% 0;
    background-attachment: scroll;
    background-size: cover;
}

.small {
    font-size: small
}

.title {
    margin: 1% 15%;
    padding: 1% 10%;
    width: 70%;
    background-color: #efefef;
    border: 1px solid #000000;
    opacity: 0.95;
}

.row {
    margin: 1% 15%;
    padding: 1% 5%;
    width: 70%;
    background-color: #efefef;
    border: 1px solid #000000;
    opacity: 0.95;
}

.row>a {
    border: 1px solid #000000;
}

a:hover {
    border: 0px solid #ffffff;
    opacity: 0.8;
    text-decoration: none;
}

a>.tag {
    font-size: 20px;
    margin: 1% 1%;
    color: #a7a7a7;
    text-align: center; 
}

a>img {
    margin: 1% 0;
}

a>.desc {
    background-color: #efefef;
    margin: 0 5% 5% 5%;
    padding: 5% 5%;
    color: #4d4d4d;
    border: 1px solid #000000;
}

